/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: #3a3a3a;
}

a {
	color: #fff;
	text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.name {
  margin: 0;
}

/* ---- Layout Containers ---- */

.container {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.main-header {
	background: #3acec2;
  padding: 1em 0;
}

.main-footer {
	padding: 2em 0;
	background: #d9e4ea;
  /* center the text */
  text-align: center;
}

/* ---- Page Elements ---- */

/* =================================
  MEDIA QUERIES
==================================== */
@media(min-width: 769px){

  .wrap {
    /* sticky footer */
    min-height: calc(100vh - 121.6px);
  }

  .container {
    /* center the container */
    width: 70%;
    /* stop the container streaching at 1000px and more */
    max-width: 1000px;
    margin: 0 auto;
  }
}
